*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
   
}


.navbar{
  
    width:100% ;
    height:20vh ;
    display: flex;
  
 
   
}
.nav-left{
    width: 90%;
    margin-left: 18px;
    font-family:'Mochiy Pop One',sans-serif ;
    font-size: 13.5px;
    color: #FFFFFF;
    margin-top: 15px;
}

.nav-right button{
width: 10%;
text-align: right;
margin-right: 40px;
 margin-top: 28px;
 font-size: 15px;
 color:#FFFFFF;
 font-family:'Mochiy Pop One',sans-serif ;
cursor: pointer;
border:none;
background-color: transparent;

}
.add-main{
    width: 100%;
    height: 80vh;
       background-color: #3C89DB;
   
}
.title-add{
    
    width: 30%;
 padding-top: 17px;
   margin-left: 452px;
   font-size: 25px;
   margin-bottom: 7px;
     font-family:'Mochiy Pop One',sans-serif;
     color:#FFFFFF;
     text-align: center;
  
     
}
.box-input{
 
    width: 70%;
    height: 68vh;
    margin-left: 173px;
    display: flex;
    flex-direction: column;
    border: 2px solid #3C89DB;
    border-radius: 22px;
    color: #FFFFFF;
}
.title-input{
   width: 50%;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 8px;
     margin-left: 300px;
    

}
.add-input{
    width: 320px;
    margin-left: 305px;
    height: 42px;
    border-radius: 5px;
    border: 2px solid #3C89DB;
    outline: none;
    padding: 15px;
     font-family:'AbeeZee',sans-serif; 
     color: #3C89DB;
     background-color: #FFFFFF;
}
.addbutton{
    width: 170px;
    height: 39px;
    margin-left: 378px;
    margin-top: 20px;
    border-radius: 12px;
    outline: none;
    border: 1.75px solid #FFFFFF ;
    color:#3C89DB ;
    background-color:#FFFFFF;
    font-size: 15px;
    padding: 1px;
    cursor: pointer;
   
   font-family:'Mochiy Pop One',sans-serif ;;
}
