*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
   
}

.navBar{
  position: fixed;
    width:100% ;
    height:14vh ;
    display: flex;
 
}

.nav-left h1{
    width: 40%;
    margin-left: 18px;
    margin-top: 17px;
    display: flex;
  
    font-family:'Mochiy Pop One',sans-serif ;
    font-size: 25px;
    color:#3C89DB;
   
    
}

.nav-right{
width: 60%;
text-align: right;
display: flex;
    flex-direction: row;
     justify-content: flex-end;
   gap: 20px;
   margin-bottom: 22px;
   
}


.mainy{
    width: 100%;
     height:86vh ;
      margin-top: 14vh;
    background-color: white;
     
}
.title-main h1{
font-size: 20px;
    margin-left: 30px;
    padding: 20px;
    margin-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(94, 93, 93);
 
}

.hello{
  width: 200vh;
  
     border-collapse: collapse; 
     margin-top: 7px;
    margin-left: 7.5px;
    background-color: aqua;
     
}

 th{
   border :1px solid black;
    padding: 12px;
   
    border-collapse: collapse;
   
}
 tr{
   border:1px solid black;
    background: #8EC5FC;
  
 }
 tbody{

    background-color: #cfe6fc;
    padding: 10px;
    
 }
 .center{
padding: 20px;
margin-left: 2px;

 }
 td{
    padding: 4.5px;
    color: rgb(27, 26, 26);
    border: 1px solid black ;
 }
 .firstinput{
    text-align: center;
    padding: 10px;
    cursor: pointer;
     accent-color: #3C89DB;
 }
 .design-text{

    text-align: center;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 .oneligne{
 color:#FFFFFF;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
.addStudent{
     width: 198px;
    height: 38px;

 display: flex;          
    align-items: center;    
    gap: 10px;               
    padding: 8px 10px;   

    margin-left: 1070px;
    margin-top: 5px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #3C89DB ;
    color:#FFFFFF ;
  background: #4897e6;
    font-size: 20px;
    padding: 1px;
    cursor: pointer;
    transition: 0.4s ease;
}
.click_report{
  width: 198px;
    height: 38px;
      gap: 2px; 
  margin-left: 1070px;
    border-radius: 10px;
    outline: none;
    color:#FFFFFF ;
      border: 1px solid #3C89DB ;
  background: #4897e6;
   font-size: 20px;
    cursor: pointer;
    margin-bottom: 2px;
    margin-top: 7px;
     padding: 8px 10px; 

}

.addStudent:hover{
    color: #3C89DB;
    background-color:#FFFFFF;
}