*{
padding: 0;
margin: 0;
box-sizing: border-box;

}
.Showreport{
    margin: 0;
    width: 100%;
    height: 100vh;

}
.partone{

height: 20vh;





}
 .parttop{
 


}
.parttop h1{
 
font-family:'Mochiy Pop One',sans-serif; 
color:#3C89DB; 
font-size: 25px;
padding: 15px;
margin-bottom: 12px;

}

.partbutton{

    margin-left: 150px;
   color: #3C89DB;
 font-family: "Modern Antiqua", serif;;
    font-size:  27px;
  
}
.parttwo{
    height: 80vh;

 

}
.carttypeone{

    height:100px ;
    width:300px ;
    background-color:#3491f5;
   margin-bottom: 10px;
    
  list-style: none;
   
 

}
.carttypeone .do{
margin-top: 20px;
    font-size: 13px;
    color:#221F1F;
    margin-left: 99px;
   

}
.flex_it{
    display: flex;
      align-items: center;
      gap: 20px;
       padding-top: 30px;
       list-style: none;
       font-size: 20px;
       margin-left: 60px;

  
   
      
   

}
.carttypetwo{
      height:100px ;
    width:300px ;
    background-color:#5ca6f4;
 margin-bottom: 10px;
 
  list-style: none;
   

}
.carttypetwo .do {
margin-top: 20px;
  font-size: 13px;
  color:#221F1F;
    margin-left: 99px;
}