.report-container {
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
}

/* HEADER */
.report-header {
  background: #f3f4f6;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #cfd6e2;
}

.report-logo {
  font-size: 28px;
  font-weight: 600;
  color: #2a81dd;
}

.report-back {
  background: #3C89DB;
  border: none;
  padding: 7px 20px;
  color: #fff;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.report-back:hover {
  transform: scale(1.07);
}

/* TITLE */
.report-title {
  text-align: left;
  margin: 35px 70px;
  color: #367dd6;
  font-size: 24px;
}

/* TOP CARDS */
.report-cards-row {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 10px;
}

.report-card {
  background: #6bb5ff;
  width: 220px;
  height: 110px;
  border-radius: 12px;
  text-align: center;
  padding-top: 10px;
  color: #fff;
  animation: fadeIn 0.6s ease;
}

.report-icon {
  width: 42px;
  height: 42px;
}

.report-number {
  font-size: 22px;
  margin: 5px 0;
  font-weight: 700;
  color:black;
}

.report-label {
  font-size: 15px;
  opacity: 0.9;
  color: #221F1F;;
}

/* STATUS CARD */
.status-card {
  margin: 40px auto;
  width: 260px;
  height: 100px;
  background: #6bb5ff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding-left: 25px;
  gap: 15px;
  animation: fadeSlide 0.6s ease;
}

.status-dot {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
}

.status-title {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.status-subtitle {
  font-size: 14px;
  color: #221F1F;
}

/* JUSTIFICATION AREA */
.justify-section {
  margin-top: 30px;
  background: #f2f3f8;
  padding: 25px 40px;
 

}

.justify-label {
  font-size: 22px;
  color: #3a7fd1;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
}

.file-area {
  margin-top: 1px;
  text-align: right;
  padding-right: 20px;
}

.file-btn {
  background: white;
  border: 2px solid #e0e6f0;
  padding: 12px 35px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.2s;
}

.file-btn:hover {
  transform: scale(1.05);
}

/* ANIMATIONS */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes fadeSlide {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
